# فایل: /path/to/rexgol_project/docker-compose.yml

services:
  web:
    build: .
    container_name: rexgol_main_web
    restart: unless-stopped
    ports:
      - "8000:8000"                  # لوکال:8000 → داخل کانتینر:8000
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      - DOCKER_ENV=1
    networks:
      - redis_net
    # depends_on لازم نیست — چون از شبکه مشترک استفاده می‌کنیم

networks:
  redis_net:
    name: redis_backend_network      # دقیقاً همون شبکه سه ردیس!
    external: true