version: '3.8'

services:
  web:
    build: .
    container_name: rexgold_web
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=rexgold_redis_1
      - DOCKER_ENV=1
    networks:
      - rexgold_app_network

networks:
  rexgold_app_network:
    external: true
